<header>
	<div class="row">
		<div class="col-12">
			<h1>{{ content[0].title }}</h1>
			<p>{{ content[0].subtitle }}</p>	
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<p class="icon-facebook">
				<i class="fab fa-facebook"></i> 
			</p>
		</div>
		<div class="col-3">
			<p class="icon-facebook">
				<i class="fab fa-instagram"></i> 
			</p>
		</div>
		<div class="col-3">
			<p class="icon-facebook">
				<i class="fab fa-youtube"></i> 
			</p>
		</div>
		<div class="col-3">
			<p class="icon-facebook">
				<i class="fab fa-twitter"></i> 
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="top-01"></div>
		</div>
	</div>
</header>
