<section class="products-list my-3">
  <div class="row">
    <div class="col-12">
      <a [routerLink]="['/products/form']" class="btn btn-primary">Novo</a>
      <a href="#" (click)="onRefresh()" class="ml-3">
        <img 
          class="icon-refresh" 
          src="../../../assets/imgs/icon_refresh.svg" 
          alt="Atualizar!" 
          title="Atualizar"
          >
      </a>
      <a [routerLink]="['/']" class="btn btn-default ml-3 text-info">
        <strong>Painel de Controle</strong>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="info-text text-danger">* Para mais informações sobre o produto, toque sobre ele.</span>
    </div>
  </div>
  <div *ngIf="products$ | async as products; else loadingError">
    <div class="card border-warning my-3" *ngFor="let product of products">
      <div class="card-header bg-warning text-white">
        {{ product.name }}
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <a 
            class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
            [routerLink]="['/product/', item.id]" 
            *ngFor="let item of product.products"
          >
            {{ item.name }}
            <span class="badge badge-secondary badge-preco">R$0,00</span> 
          </a>
        </ul>
      </div>
    </div>
  </div>
  <ng-template #loadingError>

    <div *ngIf="error$ | async; else loading">
      <div class="alert alert-danger alert-dismissible fade show my-3" role="alert" style="margin-bottom: 0px;">
        <p><strong>Erro ao tentar acessar a API.</strong></p> 
        <p>Informe o erro ao administrador do sistema.</p> 
        <p>Tente novamente mais tarde.</p>
      </div>
    </div>
    <ng-template #loading>
      <span>Carregando...</span>  
    </ng-template>
  </ng-template>
</section>