<section class="category mt-3">
	<form class="needs-validation" novalidate [formGroup]="formCategory">
		<div class="form-row">
    		<div class="col-12 mb-3">
      			<label for="name">Nome da categoria</label>
      			<input 
      				type="text" 
      				class="form-control" 
      				id="name"
      				formControlName="name"
      				[ngClass]="{ 'is-invalid': submitted && hasError('name') }" 
      			>
      			<div class="invalid-feedback">
        			Este campo é obrigatório!
      			</div>
    		</div>
    	</div>
    	<div class="form-row mb-3">
    		<div class="col-12">
    			<button 
    				type="submit" 
    				(click)="onSubmit()"
    				class="btn btn-success btn-lg mr-2">Salvar</button>
    			<a
    				[routerLink]="['/categories/list']"
    				class="btn btn-info btn-lg">
            Sair
          </a>
    		</div>
    	</div>
	</form>
</section>