<section class="products-list my-3">
  <div *ngIf="products$ | async as products; else carregando">
    <div class="card" *ngFor="let product of products">
      <div class="card-header bg-info text-white">
        {{ product.name }}  
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Quantidade em estoque: </strong>{{ product.amount }}
        </li>
        <li class="list-group-item">
          <strong>Preço venda: </strong>R${{ product.client_price }}
        </li>
      </ul>
      <div class="card-body">
        <!-- routerLinkActive="" -->
        <a [routerLink]="['/products/edit', product._id]" class="card-link">Editar</a>
        <a [routerLink]="['/products', product._id]" class="card-link text-danger">Excluir</a>
      </div>
      
    </div>
  </div>
  <ng-template #carregando>
    <span>Carregando...</span>
  </ng-template>
</section>