<section class="products-list">
	<div class="row">
		<div class="col-12">
			<h3>Lista de produtos</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<table class="table table-sm">
				<tbody>
					<tr>
						<td class="name-product">Brahma</td>
					</tr>
					<tr>
						<td class="amount"><strong>Quantidade:</strong> 00</td>
					</tr>
					<tr>
						<td class="price"><strong>Preco:</strong> R$0,00</td>
					</tr>
					<tr>
						<td class="name-product">Kaiser</td>
					</tr>
					<tr>
						<td class="amount table-warning"><strong>Quantidade:</strong> 00</td>
					</tr>
					<tr>
						<td class="price"><strong>Preco:</strong> R$0,00</td>
					</tr>
					<tr>
						<td class="name-product">Skol</td>
					</tr>
					<tr>
						<td class="amount table-danger"><strong>Quantidade:</strong> 00</td>
					</tr>
					<tr>
						<td class="price"><strong>Preco:</strong> R$0,00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>